.app-chrome {
  padding: 15px;
}

.toolbar {
  margin: 10px 0;
}

.tag-selection button {
  margin: 0 10px;
  border: none;
  background-image: none;
  box-shadow: none;
}

.tag-selection button:checked {
  margin: 0 10px;
  border: 1px;
  font-weight: bold;
  background-color: #545459
}

.content-item .title {
  font-weight: bold;
  font-size: 20px;
}

.content-item .subtitle {
  font-weight: bold;
  font-size: 80%;
}

.content-item .background-box {
  border-radius: 3%;
  box-shadow: inset 0 1px @theme_base_color, 0 1px 1px alpha(black,0.4);
}
