.app-chrome {
  padding: 15px;
}

.toolbar {
  margin: 10px 10px;
}

.tag-selection button {
  margin: 0 10px;
  border: none;
  background-image: none;
  box-shadow: none;
}

.tag-selection button:checked {
  margin: 0 10px;
  border: 1px;
  font-weight: bold;
  background-color: #545459
}

.content-item .title {
  font-weight: bold;
  font-size: 20px;
}

.content-item .subtitle {
  font-weight: bold;
  font-size: 80%;
}

.content-item .background-box {
  border-radius: 3%;
  box-shadow: inset 0 1px @theme_base_color, 0 1px 1px alpha(black,0.4);
}

.content-item .overlay-contents {
  padding: 10px
}

.carousel {
  background-image: none;
  border-width: 0px;
  outline-width: 0px;
  box-shadow: none;
}

.carousel-item .title {
  font-weight: bold;
  font-size: 20px;
}

.carousel-item .subtitle {
  font-weight: bold;
  font-size: 80%;
}

.carousel-item .background-box {
  border-radius: 4px;
  box-shadow: inset 0 1px @theme_base_color, 0 1px 1px alpha(black,0.4);
}

.carousel-item .overlay-contents {
  padding: 50px
}

.carousel-item overlay:hover {
  background-image: linear-gradient(to bottom, #353c3e, #2e3436 60%, #2a2e30);
}

.row .header {
  font-weight: bold;
  font-size: 20pt;
  box-shadow: inset 0 -2px 0px 0px alpha(@theme_fg_color, 0.4);
  margin-bottom: 10px;
}

.row .header:backdrop {
  box-shadow: inset 0 -2px 0px 0px alpha(@theme_fg_color, 0.2)
}
